openapi: 3.0.3
info:
  title: Scrappy API
  description: |
    Scrappy is a business data marketplace.
    Users select a business category (offer), a geographic zone (province or city),
    and an output format (CSV, XLSX, JSON). After payment via Stripe, the backend
    triggers a scraping job and delivers the result by email. Users can also download
    the file directly from the web app.

    **Authentication**: Protected endpoints require a Bearer token (Auth0 JWT).
    **Admin endpoints**: Require an additional `X-Admin-Key` header.
  version: 2.0.0
  contact:
    name: Scrappy Team

servers:
  - url: https://api.scrappy.io/v1
    description: Production
  - url: http://localhost:8000/v1
    description: Local development

security: []

tags:
  - name: offers
    description: Available scraping offer categories (business types)
  - name: orders
    description: Purchase flow, status polling, and file download
  - name: auth
    description: Registration and login (Auth0)
  - name: admin
    description: Internal operations — offers, pricing, orders, scraping jobs

paths:

  # ─────────────────────────────────────────────────────────────────
  # OFFERS (public)
  # ─────────────────────────────────────────────────────────────────

  /offers:
    get:
      summary: List active offers
      description: |
        Returns all active scraping offers (business categories).
        Each offer includes the current pricing for province and city zone types,
        injected from the global pricing_config.
      operationId: listOffers
      tags: [offers]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of active offers with current pricing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferListResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /offers/{offer_id}:
    get:
      summary: Get offer details
      description: Returns offer metadata plus current pricing for both zone types.
      operationId: getOffer
      tags: [offers]
      parameters:
        - $ref: '#/components/parameters/OfferId'
      responses:
        '200':
          description: Offer details with pricing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ORDERS (authenticated buyers)
  # ─────────────────────────────────────────────────────────────────

  /orders:
    post:
      summary: Create an order (initiate purchase)
      description: |
        Creates a pending order for a specific offer, zone, and output format.
        The price is calculated from the current pricing_config based on zone_type.
        Returns a Stripe PaymentIntent client secret for frontend payment completion.
        The Stripe webhook confirms payment and triggers the scraping job.
      operationId: createOrder
      tags: [orders]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created, payment intent returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      summary: List current user's orders
      operationId: listMyOrders
      tags: [orders]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /orders/{order_id}:
    get:
      summary: Get order details
      description: |
        Returns the order with its current status.
        The frontend polls this endpoint every 10 seconds while status is `paid` or `processing`.
        When status is `completed`, the `result_url` field is populated and the download button is enabled.
      operationId: getOrder
      tags: [orders]
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details with current status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /orders/{order_id}/download:
    get:
      summary: Download the scraping result file
      description: |
        Returns the result file in the format selected at order time (CSV, XLSX, or JSON).
        Only available when order status is `completed`.
        Returns 409 if the order is not yet completed.

        Filename pattern: `scrappy_{category}_{zone_name}_{order_id[:8]}.{ext}`
      operationId: downloadOrderResult
      tags: [orders]
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Result file in the requested format
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessRecord'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Order not yet completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # WEBHOOKS
  # ─────────────────────────────────────────────────────────────────

  /webhooks/stripe:
    post:
      summary: Stripe payment webhook
      description: |
        Receives Stripe webhook events. Verifies the `Stripe-Signature` header.
        On `payment_intent.succeeded`:
          1. Marks the order as `paid`
          2. Creates and queues a `scraping_job` linked to the order
          3. Order transitions to `processing` when the job starts
          4. On job completion: generates the result file (CSV/XLSX/JSON),
             stores it, sets `result_url`, marks order as `completed`,
             and sends the result by email (with attachment + web download link)
      operationId: stripeWebhook
      tags: [orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ADMIN — OFFERS
  # ─────────────────────────────────────────────────────────────────

  /admin/offers:
    post:
      summary: Create a new offer
      description: Creates a scraping offer (business category) available for users to purchase.
      operationId: createOffer
      tags: [admin]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOfferRequest'
      responses:
        '201':
          description: Offer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferAdminResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Category slug already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin/offers/{offer_id}:
    patch:
      summary: Update offer metadata or status
      description: Updates title, description, or is_active flag. Returns 409 if deactivating an offer that has paid orders.
      operationId: updateOffer
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/OfferId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOfferRequest'
      responses:
        '200':
          description: Offer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferAdminResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      summary: Delete an offer
      description: Returns 409 if the offer has any paid orders.
      operationId: deleteOffer
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/OfferId'
      responses:
        '204':
          description: Offer deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Offer has existing paid orders and cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ADMIN — PRICING
  # ─────────────────────────────────────────────────────────────────

  /admin/pricing:
    get:
      summary: Get current pricing configuration
      description: Returns the singleton pricing config (province price and city price).
      operationId: getPricing
      tags: [admin]
      security:
        - AdminKey: []
      responses:
        '200':
          description: Current pricing configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    put:
      summary: Update pricing configuration
      description: |
        Updates the global pricing config (both province and city prices are required).
        Both values must be > 0. Changes take effect immediately for new orders.
        Existing orders retain their price snapshot.
      operationId: updatePricing
      tags: [admin]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePricingRequest'
      responses:
        '200':
          description: Pricing updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingConfig'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ADMIN — ORDERS
  # ─────────────────────────────────────────────────────────────────

  /admin/orders:
    get:
      summary: List all orders (admin)
      description: Returns all orders across all users, with user email and offer title joined. Supports filtering by status and pagination.
      operationId: listAdminOrders
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, paid, processing, completed, failed, refunded]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of all orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOrderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ADMIN — SCRAPING JOBS
  # ─────────────────────────────────────────────────────────────────

  /admin/scraping-jobs:
    get:
      summary: List scraping jobs
      operationId: listScrapingJobs
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, running, completed, failed]
      responses:
        '200':
          description: List of scraping jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScrapingJobResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin/scraping-jobs/{job_id}:
    get:
      summary: Get scraping job status
      operationId: getScrapingJob
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scraping job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapingJobResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

# ─────────────────────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────────────────────

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 RS256 JWT token — validated via JWKS at https://{AUTH0_DOMAIN}/.well-known/jwks.json
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Internal admin API key for backend operations

  parameters:
    OfferId:
      name: offer_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderId:
      name: order_id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    # ── Offers ───────────────────────────────────────────────────

    OfferResponse:
      type: object
      required: [id, category, title, is_active, price_province_usd, price_city_usd, created_at]
      properties:
        id:
          type: string
          format: uuid
        category:
          type: string
          example: restaurants
        title:
          type: string
          example: Restaurants
        description:
          type: string
          nullable: true
          example: Full list of restaurants scraped from Google Maps.
        is_active:
          type: boolean
        price_province_usd:
          type: number
          format: float
          description: Current price for a province-level order (from pricing_config)
          example: 49.99
        price_city_usd:
          type: number
          format: float
          description: Current price for a city-level order (from pricing_config)
          example: 24.99
        created_at:
          type: string
          format: date-time

    OfferAdminResponse:
      type: object
      required: [id, category, title, is_active, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        category:
          type: string
          example: restaurants
        title:
          type: string
          example: Restaurants
        description:
          type: string
          nullable: true
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OfferListResponse:
      type: object
      required: [items, total, limit, offset]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OfferResponse'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    CreateOfferRequest:
      type: object
      required: [category, title]
      properties:
        category:
          type: string
          minLength: 2
          maxLength: 100
          example: restaurants
          description: Unique slug identifier for the category (lowercase, no spaces)
        title:
          type: string
          minLength: 2
          maxLength: 200
          example: Restaurants
        description:
          type: string
          maxLength: 2000
        is_active:
          type: boolean
          default: true

    UpdateOfferRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 2
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        is_active:
          type: boolean

    # ── Pricing ──────────────────────────────────────────────────

    PricingConfig:
      type: object
      required: [price_province_usd, price_city_usd, updated_at]
      properties:
        price_province_usd:
          type: number
          format: float
          minimum: 0.01
          example: 49.99
          description: Price for province-level orders in USD
        price_city_usd:
          type: number
          format: float
          minimum: 0.01
          example: 24.99
          description: Price for city/locality-level orders in USD
        updated_at:
          type: string
          format: date-time

    UpdatePricingRequest:
      type: object
      required: [price_province_usd, price_city_usd]
      properties:
        price_province_usd:
          type: number
          format: float
          minimum: 0.01
          example: 49.99
        price_city_usd:
          type: number
          format: float
          minimum: 0.01
          example: 24.99

    # ── Orders ───────────────────────────────────────────────────

    CreateOrderRequest:
      type: object
      required: [offer_id, zone_type, zone_name, output_format]
      properties:
        offer_id:
          type: string
          format: uuid
          description: ID of the selected offer (business category)
        zone_type:
          type: string
          enum: [province, city]
          description: Geographic scope — province (more expensive) or city/locality
        zone_name:
          type: string
          minLength: 2
          maxLength: 200
          example: Buenos Aires
          description: Name of the province or city to scrape
        output_format:
          type: string
          enum: [csv, xlsx, json]
          description: Desired output file format

    CreateOrderResponse:
      type: object
      required: [order_id, client_secret, price_usd]
      properties:
        order_id:
          type: string
          format: uuid
        client_secret:
          type: string
          description: Stripe PaymentIntent client secret for frontend payment completion
        price_usd:
          type: number
          example: 49.99

    OrderResponse:
      type: object
      required: [id, offer_id, zone_type, zone_name, output_format, price_usd, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        offer_id:
          type: string
          format: uuid
        offer_title:
          type: string
          example: Restaurants
        zone_type:
          type: string
          enum: [province, city]
        zone_name:
          type: string
          example: Buenos Aires
        output_format:
          type: string
          enum: [csv, xlsx, json]
        price_usd:
          type: number
          example: 49.99
        status:
          type: string
          enum: [pending, paid, processing, completed, failed, refunded]
        result_url:
          type: string
          nullable: true
          description: Download URL for the result file (only set when status is completed)
        email_sent_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        paid_at:
          type: string
          format: date-time
          nullable: true

    AdminOrderResponse:
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - type: object
          properties:
            user_email:
              type: string
              format: email
              example: buyer@example.com

    AdminOrderListResponse:
      type: object
      required: [items, total, limit, offset]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AdminOrderResponse'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    # ── Businesses ───────────────────────────────────────────────

    BusinessRecord:
      type: object
      properties:
        name:
          type: string
          example: La Parolaccia
        category:
          type: string
          example: restaurants
        zone:
          type: string
          example: Palermo
        address:
          type: string
          example: Av. del Libertador 2520, Buenos Aires
        phone:
          type: string
          example: '+5491155512345'
        website:
          type: string
          format: uri
        rating:
          type: number
          minimum: 0
          maximum: 5
          example: 4.3
        review_count:
          type: integer
          example: 842

    # ── Scraping Jobs ────────────────────────────────────────────

    ScrapingJobResponse:
      type: object
      required: [id, order_id, category, zone, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        order_id:
          type: string
          format: uuid
        category:
          type: string
        zone:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        records_scraped:
          type: integer
        error_message:
          type: string
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        finished_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    # ── Shared ───────────────────────────────────────────────────

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Offer not found
