openapi: 3.0.3
info:
  title: Scrappy API
  description: |
    Scrappy is a business data marketplace.
    It scrapes, cleans, normalizes, and sells datasets of businesses obtained from Google Maps,
    segmented by category, geographic zone, or business type.

    **Authentication**: Protected endpoints require a Bearer token (Supabase JWT).
    **Admin endpoints**: Require an additional `X-Admin-Key` header.
  version: 1.0.0
  contact:
    name: Scrappy Team

servers:
  - url: https://api.scrappy.io/v1
    description: Production
  - url: http://localhost:8000/v1
    description: Local development

security: []

tags:
  - name: datasets
    description: Purchasable business data collections
  - name: orders
    description: Purchase flow and download
  - name: auth
    description: Registration and login (Supabase Auth)
  - name: admin
    description: Internal operations — scraping, dataset management

paths:

  # ─────────────────────────────────────────────────────────────────
  # DATASETS (public)
  # ─────────────────────────────────────────────────────────────────

  /datasets:
    get:
      summary: List published datasets
      description: Returns all published datasets. Supports filtering by category and zone.
      operationId: listDatasets
      tags: [datasets]
      parameters:
        - name: category
          in: query
          schema:
            type: string
          example: restaurants
        - name: zone
          in: query
          schema:
            type: string
          example: CABA
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetListResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /datasets/{dataset_id}:
    get:
      summary: Get dataset details
      description: Returns dataset metadata including sample data (up to 5 records).
      operationId: getDataset
      tags: [datasets]
      parameters:
        - $ref: '#/components/parameters/DatasetId'
      responses:
        '200':
          description: Dataset details with sample data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ORDERS (authenticated buyers)
  # ─────────────────────────────────────────────────────────────────

  /orders:
    post:
      summary: Create an order (initiate purchase)
      description: |
        Creates a pending order and returns a Stripe PaymentIntent client secret.
        The client completes payment on the frontend; the webhook confirms it.
      operationId: createOrder
      tags: [orders]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created, payment intent returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      summary: List current user's orders
      operationId: listMyOrders
      tags: [orders]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /orders/{order_id}:
    get:
      summary: Get order details
      operationId: getOrder
      tags: [orders]
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order with its items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /orders/{order_id}/items/{item_id}/download:
    get:
      summary: Download purchased dataset
      description: |
        Returns the full dataset as a CSV file.
        Only available for paid orders. Records the download timestamp on first access.
      operationId: downloadDataset
      tags: [orders]
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/OrderId'
        - name: item_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dataset file (CSV)
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # WEBHOOKS
  # ─────────────────────────────────────────────────────────────────

  /webhooks/stripe:
    post:
      summary: Stripe payment webhook
      description: |
        Receives Stripe webhook events. Verifies the `Stripe-Signature` header.
        On `payment_intent.succeeded`, marks the order as paid and generates download tokens.
      operationId: stripeWebhook
      tags: [orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ADMIN — SCRAPING JOBS
  # ─────────────────────────────────────────────────────────────────

  /admin/scraping-jobs:
    post:
      summary: Trigger a scraping job
      description: Starts a background job to scrape businesses from Google Maps for a given category and zone.
      operationId: createScrapingJob
      tags: [admin]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScrapingJobRequest'
      responses:
        '202':
          description: Scraping job accepted and queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapingJobResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

    get:
      summary: List scraping jobs
      operationId: listScrapingJobs
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, running, completed, failed]
      responses:
        '200':
          description: List of scraping jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScrapingJobResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin/scraping-jobs/{job_id}:
    get:
      summary: Get scraping job status
      operationId: getScrapingJob
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scraping job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrapingJobResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ─────────────────────────────────────────────────────────────────
  # ADMIN — DATASETS
  # ─────────────────────────────────────────────────────────────────

  /admin/datasets:
    post:
      summary: Create a new dataset
      description: Creates a dataset from existing scraped businesses filtered by category and zone.
      operationId: createDataset
      tags: [admin]
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetRequest'
      responses:
        '201':
          description: Dataset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDetailResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /admin/datasets/{dataset_id}:
    patch:
      summary: Update dataset metadata
      operationId: updateDataset
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/DatasetId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
      responses:
        '200':
          description: Dataset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetDetailResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

    delete:
      summary: Delete a dataset
      operationId: deleteDataset
      tags: [admin]
      security:
        - AdminKey: []
      parameters:
        - $ref: '#/components/parameters/DatasetId'
      responses:
        '204':
          description: Dataset deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

# ─────────────────────────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────────────────────────

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 RS256 JWT token — validated via JWKS at https://{AUTH0_DOMAIN}/.well-known/jwks.json
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Internal admin API key for backend operations

  parameters:
    DatasetId:
      name: dataset_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderId:
      name: order_id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    # ── Datasets ────────────────────────────────────────────────

    DatasetSummary:
      type: object
      required: [id, title, category, zone, record_count, price_usd, created_at]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: Restaurants CABA 2025
        category:
          type: string
          example: restaurants
        zone:
          type: string
          example: CABA
        record_count:
          type: integer
          example: 1250
        price_usd:
          type: number
          format: float
          example: 29.99
        created_at:
          type: string
          format: date-time

    DatasetDetailResponse:
      allOf:
        - $ref: '#/components/schemas/DatasetSummary'
        - type: object
          properties:
            description:
              type: string
              example: Full list of restaurants in Buenos Aires CABA area, scraped January 2025.
            sample_data:
              type: array
              maxItems: 5
              items:
                $ref: '#/components/schemas/BusinessRecord'

    DatasetListResponse:
      type: object
      required: [items, total, limit, offset]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DatasetSummary'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    CreateDatasetRequest:
      type: object
      required: [title, category, zone, price_usd]
      properties:
        title:
          type: string
          minLength: 3
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        category:
          type: string
          minLength: 2
          maxLength: 100
        zone:
          type: string
          minLength: 2
          maxLength: 100
        price_usd:
          type: number
          minimum: 0
          example: 29.99
        is_published:
          type: boolean
          default: false

    UpdateDatasetRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 3
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        price_usd:
          type: number
          minimum: 0
        is_published:
          type: boolean

    # ── Businesses ──────────────────────────────────────────────

    BusinessRecord:
      type: object
      properties:
        name:
          type: string
          example: La Parolaccia
        category:
          type: string
          example: restaurants
        zone:
          type: string
          example: Palermo
        address:
          type: string
          example: Av. del Libertador 2520, Buenos Aires
        phone:
          type: string
          example: '+5491155512345'
        website:
          type: string
          format: uri
        rating:
          type: number
          minimum: 0
          maximum: 5
          example: 4.3
        review_count:
          type: integer
          example: 842

    # ── Orders ──────────────────────────────────────────────────

    CreateOrderRequest:
      type: object
      required: [dataset_ids]
      properties:
        dataset_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          example: ["550e8400-e29b-41d4-a716-446655440000"]

    CreateOrderResponse:
      type: object
      required: [order_id, client_secret, total_usd]
      properties:
        order_id:
          type: string
          format: uuid
        client_secret:
          type: string
          description: Stripe PaymentIntent client secret for frontend payment completion
        total_usd:
          type: number
          example: 59.98

    OrderResponse:
      type: object
      required: [id, status, total_usd, created_at]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, paid, failed, refunded]
        total_usd:
          type: number
        created_at:
          type: string
          format: date-time
        paid_at:
          type: string
          format: date-time
          nullable: true

    OrderDetailResponse:
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/OrderItemResponse'

    OrderItemResponse:
      type: object
      required: [id, dataset_id, price_usd]
      properties:
        id:
          type: string
          format: uuid
        dataset_id:
          type: string
          format: uuid
        dataset_title:
          type: string
        price_usd:
          type: number
        downloaded_at:
          type: string
          format: date-time
          nullable: true

    # ── Scraping Jobs ────────────────────────────────────────────

    CreateScrapingJobRequest:
      type: object
      required: [category, zone]
      properties:
        category:
          type: string
          minLength: 2
          maxLength: 100
          example: restaurants
        zone:
          type: string
          minLength: 2
          maxLength: 100
          example: CABA

    ScrapingJobResponse:
      type: object
      required: [id, category, zone, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        category:
          type: string
        zone:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        records_scraped:
          type: integer
        error_message:
          type: string
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        finished_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    # ── Shared ───────────────────────────────────────────────────

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: Dataset not found
